/* line 7, ../src/app.scss */
body {
  background: #f2f2f2;
  color: black;
  margin: 0;
  padding: 0;
}

/* line 14, ../src/app.scss */
#jqt {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#bfbfbf));
}
/* line 17, ../src/app.scss */
#jqt h1, #jqt h2 {
  font: bold 18px "Helvetica Neue", Helvetica;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px;
  color: #000;
  margin: 10px 20px 5px;
}

/* line 26, ../src/app.scss */
div#jqt > * {
  /*    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($background-color), to(darken($background-color, 20%)));*/
  background: #f2f2f2;
}

/* line 35, ../src/app.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 40, ../src/app.scss */
time {
  display: block;
}

/* line 44, ../src/app.scss */
.toolbar {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffafda), color-stop(50%, #ff30a0), color-stop(50%, #fb0088), to(#e2007a));
}

/* line 48, ../src/app.scss */
.header {
  height: 133px;
  background: url("../img/logo.png") right top no-repeat;
  padding: 0 10px;
  position: relative;
  margin-bottom: 20px;
}
/* line 55, ../src/app.scss */
.header .titles {
  position: absolute;
  bottom: 0;
}
/* line 60, ../src/app.scss */
.header h1, .header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 0.9;
}
/* line 67, ../src/app.scss */
.header h1 {
  color: #999;
}

/* line 72, ../src/app.scss */
.schedule {
  font-size: 13px;
}
/* line 75, ../src/app.scss */
.schedule td, .schedule th {
  vertical-align: top;
  font-weight: normal;
  border-top: 1px solid #FFF;
  line-height: 1.2;
}
/* line 82, ../src/app.scss */
.schedule th {
  padding: 4px 10px;
}
/* line 85, ../src/app.scss */
.schedule th time:after {
  content: ' ';
  letter-spacing: -100px;
  font-weight: bold;
}
/* line 92, ../src/app.scss */
.schedule td {
  padding-right: 0px;
}
/* line 97, ../src/app.scss */
.schedule tr.orga td, .schedule tr.orga th {
  color: #777;
}
/* line 101, ../src/app.scss */
.schedule tr.orga .talk {
  padding: 4px 0;
}
/* line 107, ../src/app.scss */
.schedule tr.talk td, .schedule tr.talk th {
  background: #FFF;
  border-top-color: #f2f2f2;
}
/* line 113, ../src/app.scss */
.schedule .speakers {
  font-weight: bold;
}
/* line 117, ../src/app.scss */
.schedule a {
  display: block;
  padding: 4px 24px 4px 0;
  background: url("../img/chevron@2x.png") right center no-repeat;
  -webkit-background-size: 18px 13px;
}

/* line 125, ../src/app.scss */
.details {
  margin: 0 10px;
  padding-bottom: 40px;
  font-size: 13px;
}
/* line 130, ../src/app.scss */
.details p {
  margin: 1em 0;
}
